/*h2{*/
/*    font-size: 16px;*/
/*}*/

h1{
    font-family: Titre_Style, Arial, serif;
}

body{
    font-family: "Roboto", serif;
}

a{
    text-decoration: none;
}

footer{
    font-weight: bold;
    font-style: italic;
}
@font-face{
    font-family: Titre_Style; src: url("../Police/Doing.ttf");
}